<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leo.auction">

    <uses-sdk tools:overrideLibrary="com.sch.share" />
    <!-- 添加权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 发短信 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> -->
    <!-- 打电话 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <!-- 修改系统设置 -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <!-- 读取联系人 -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- 访问账户 -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS"/> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- 震动权限 -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <!-- 悬浮在应用上层的权限 -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <!-- 唤醒屏幕 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->
    <!-- 解锁屏幕 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 热更新 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".base.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.order.activity.GoodOrederStatusActivity"></activity>
        <activity android:name=".ui.order.activity.GoodOrderActivity" />
        <activity android:name=".ui.web.AgentWebActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ui.main.home.web.HWebViewActivity" />
        <activity android:name=".ui.main.mine.activity.RealNameActivity" />
        <activity
            android:name=".ui.main.SharedActvity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/shared_transparent" />
        <activity android:name=".ui.main.mine.activity.GenerateQRCodeActivity" />
        <activity android:name=".ui.main.mine.activity.StoreQRCodeActivity" />
        <activity android:name=".ui.main.mine.activity.PromotionCenterActivivty" />
        <activity android:name=".ui.order.activity.OrderCompleteEvaluationActivity" />
        <activity android:name=".ui.order.activity.OrderEvaluationActivity" />
        <activity android:name=".ui.order.activity.OrderRefuseGoodActivity" />
        <activity android:name=".ui.order.activity.OrderRefuseActivity" />
        <activity android:name=".ui.order.activity.OrederLogisticsActivity" />
        <activity android:name=".ui.order.activity.OrderConfirmActivity" />
        <activity android:name=".ui.order.activity.OrderDetailActivity" />
        <activity android:name=".ui.order.activity.OrderActivity" />
        <activity android:name=".ui.main.mine.banlance.BalanceDetailActivity" />
        <activity android:name=".ui.main.mine.banlance.WithdrawalActivity" />
        <activity android:name=".ui.main.mine.activity.AuctionUpperActivity" />
        <activity android:name=".ui.main.mine.activity.PutawayActivity" />
        <activity android:name=".ui.main.mine.activity.SuperHouseActivity" />
        <activity android:name=".ui.main.mine.activity.SetPayPwdActivity" />
        <activity android:name=".ui.main.mine.activity.IdentityActivity" />
        <activity android:name=".ui.main.mine.activity.ForgetPwdActivity" />
        <activity android:name=".ui.main.mine.activity.ResetPwdActivity" />
        <activity android:name=".ui.main.mine.activity.PaySafeActivity" />
        <activity android:name=".ui.main.mine.activity.BalanceActivity" />
        <activity android:name=".ui.main.mine.activity.CommodityEditActivity" />
        <activity android:name=".ui.main.mine.activity.AuctionManagementActivity" />
        <activity android:name=".ui.main.mine.activity.AssetDetailActivity" />
        <activity android:name=".ui.main.mine.activity.UpdateAddressActivity" />
        <activity android:name=".ui.main.mine.activity.IncreaseAddressActivity" />
        <activity android:name=".ui.main.mine.activity.AddressActivity" />
        <activity android:name=".ui.main.mine.activity.UpdatePhoneActivity" />
        <activity android:name=".ui.main.mine.activity.UpdateNickNameActivity" />
        <activity
            android:name=".ui.main.mine.activity.SettingActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.main.mine.activity.VideoPlayerActivity" />
        <activity android:name=".ui.main.mine.activity.CommodityReleaseActivity" />
        <activity android:name=".ui.main.home.activity.ShopActivity" />
        <activity
            android:name=".ui.main.home.activity.HomeSearchActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ui.main.home.activity.AuctionDetailActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.main.home.activity.CategoryActivity" />
        <activity android:name=".ui.login.AgreementActivity" />
        <activity android:name=".ui.login.LoginWxActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".ui.login.StartActivity"
            android:theme="@style/Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 限制设备 后台轮询服务 -->
        <service android:name=".tool.polling.OnlyService" /> <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 版本升级 -->
        <provider
            android:name=".ui.version.MyFileProvider"
            android:authorities="com.leo.auction.ui.version.MyFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_version_paths" />
        </provider>
        <provider
            android:name=".ui.main.home.web.PhotosFileProvider"
            android:authorities="com.leo.auction.ui.main.home.web.PhotosFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_paths_public" />
        </provider>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 友盟分享集成 end -->
        <!-- 微信支付 start -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxcf78ef0e38764358" />
            </intent-filter>
        </activity> <!-- 微信支付 end -->
        <!-- <provider -->
        <!-- android:name=".tool.version.VersionFileProvider" -->
        <!-- android:authorities=".tool.version.VersionFileProvider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/version_provider_paths" /> -->
        <!-- </provider> -->
        <!--  -->
        <!-- 百度定位key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nfFOGsvbAIKv9NxeDxFXBpLtGfYkl8zK" /> <!-- <meta-data -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5ee97d17978eea083057276b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".ui.common.ViewPagerActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
           />

        <activity android:name=".base.TempActivity" />
        <activity android:name=".ui.main.home.activity.ImageShowActivity" />
    </application>

</manifest>